In [2]:
import pandas as pd

In [3]:
pop_dict = {'beijing':3000, 'shanghai':2800, 'guangzhou':2000}

In [4]:
area_dict = {'beijing':100, 'shanghai':150, 'guangzhou':300}

In [5]:
pd.DataFrame([pop_dict,area_dict], index=['pop', 'area'])

      beijing  guangzhou  shanghai
pop      3000       2000      2800
area      100        300       150

In [8]:
pop = pd.Series(pop_dict)

In [9]:
pop

beijing      3000
shanghai     2800
guangzhou    2000
dtype: int64

In [10]:
area = pd.Series(area_dict)

In [11]:
area

beijing      100
shanghai     150
guangzhou    300
dtype: int64

In [14]:
df = pd.DataFrame({'pop': pop, 'area': area})

In [15]:
df

            pop  area
beijing    3000   100
shanghai   2800   150
guangzhou  2000   300

In [16]:
df.values

array([[3000,  100],
       [2800,  150],
       [2000,  300]])

In [17]:
df.index

Index(['beijing', 'shanghai', 'guangzhou'], dtype='object')

In [21]:
df.iloc[1, 1]

150

In [25]:
index = pd.Index([2,3,5,7])

In [26]:
index[1]

3

In [28]:
index[1:]

Int64Index([3, 5, 7], dtype='int64')

In [31]:
index.size

4

In [32]:
index.ndim

1

In [33]:
index.shape

(4,)

In [34]:
index.dtype

dtype('int64')