In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

/Users/zhanghaibin/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = pd.read_csv("./data/insurance.csv")
data.head(n=5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
pd.get_dummies(data)

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
5,31,25.740,0,3756.62160,1,0,1,0,0,0,1,0
6,46,33.440,1,8240.58960,1,0,1,0,0,0,1,0
7,37,27.740,3,7281.50560,1,0,1,0,0,1,0,0
8,37,29.830,2,6406.41070,0,1,1,0,1,0,0,0
9,60,25.840,0,28923.13692,1,0,1,0,0,1,0,0
10,25,26.220,0,2721.32080,0,1,1,0,1,0,0,0
11,62,26.290,0,27808.72510,1,0,0,1,0,0,1,0
12,23,34.400,0,1826.84300,0,1,1,0,0,0,0,1
13,56,39.820,0,11090.71780,1,0,1,0,0,0,1,0
14,27,42.130,0,39611.75770,0,1,0,1,0,0,1,0
15,19,24.600,1,1837.23700,0,1,1,0,0,0,0,1
16,52,30.780,1,10797.33620,1,0,1,0,1,0,0,0
17,23,23.845,0,2395.17155,0,1,1,0,1,0,0,0
18,56,40.300,0,10602.38500,0,1,1,0,0,0,0,1
19,30,35.300,0,36837.46700,0,1,0,1,0,0,0,1
20,60,36.005,0,13228.84695,1,0,1,0,1,0,0,0
21,30,32.400,1,4149.73600,1,0,1,0,0,0,0,1
22,18,34.100,0,1137.01100,0,1,1,0,0,0,1,0
23,34,31.920,1,37701.87680,1,0,0,1,1,0,0,0
24,37,28.025,2,6203.90175,0,1,1,0,0,1,0,0
25,59,27.720,3,14001.13380,1,0,1,0,0,0,1,0
26,63,23.085,0,14451.83515,1,0,1,0,1,0,0,0
27,55,32.775,2,12268.63225,1,0,1,0,0,1,0,0
28,23,17.385,1,2775.19215,0,1,1,0,0,1,0,0
29,31,36.300,2,38711.00000,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,25,30.200,0,33900.65300,1,0,0,1,0,0,0,1
1309,41,32.200,2,6875.96100,0,1,1,0,0,0,0,1
1310,42,26.315,1,6940.90985,0,1,1,0,0,1,0,0
1311,33,26.695,0,4571.41305,1,0,1,0,0,1,0,0
1312,34,42.900,1,4536.25900,0,1,1,0,0,0,0,1
1313,19,34.700,2,36397.57600,1,0,0,1,0,0,0,1
1314,30,23.655,3,18765.87545,1,0,0,1,0,1,0,0
1315,18,28.310,1,11272.33139,0,1,1,0,1,0,0,0
1316,19,20.600,0,1731.67700,1,0,1,0,0,0,0,1
1317,18,53.130,0,1163.46270,0,1,1,0,0,0,1,0
1318,35,39.710,4,19496.71917,0,1,1,0,1,0,0,0
1319,39,26.315,2,7201.70085,1,0,1,0,0,1,0,0
1320,31,31.065,3,5425.02335,0,1,1,0,0,1,0,0
1321,62,26.695,0,28101.33305,0,1,0,1,1,0,0,0
1322,62,38.830,0,12981.34570,0,1,1,0,0,0,1,0
1323,42,40.370,2,43896.37630,1,0,0,1,0,0,1,0
1324,31,25.935,1,4239.89265,0,1,1,0,0,1,0,0
1325,61,33.535,0,13143.33665,0,1,1,0,1,0,0,0
1326,42,32.870,0,7050.02130,1,0,1,0,1,0,0,0
1327,51,30.030,1,9377.90470,0,1,1,0,0,0,1,0
1328,23,24.225,2,22395.74424,1,0,1,0,1,0,0,0
1329,52,38.600,2,10325.20600,0,1,1,0,0,0,0,1
1330,57,25.740,2,12629.16560,1,0,1,0,0,0,1,0
1331,23,33.400,0,10795.93733,1,0,1,0,0,0,0,1
1332,52,44.700,3,11411.68500,1,0,1,0,0,0,0,1
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0